﻿@page
@using DomainLayer.Advertisements;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to RobertHeijn Shopping Website</h1>
<h3>View Active Discounts</h3>

<ul>
    @foreach(DomainLayer.Advertisement a in Model.Advertisements)
    {
        // ToDo: Could just save enum DiscountType in Advertisement to avoid checking everytime! 
        // ToDo: Could add ToString method in advertisement interface and just call that when i have to display info.
        if (a is AD_TwoForOne)
        {
            <li>
                Discount for: <a href="/product_details?id=@a.Product.Id">@a.Product.Name</a> - Ends: @a.EndDate. : Two For One
            </li>
        }
        else if (a is AD_SecondHalfPrice)
        {
            <li>
                Discount for: <a href="/product_details?id=@a.Product.Id">@a.Product.Name</a> - Ends: @a.EndDate. : Second Half Price
            </li>
        }
        else if (a is AD_TwoForPrice)
        {
            <li>
                Discount for: <a href="/product_details?id=@a.Product.Id">@a.Product.Name</a> - Ends: @a.EndDate. : Two For @(((AD_TwoForPrice)a).Price) €
            </li>
        }
        else if (a is AD_PriceForWeight)
        {
            <li>
                Discount for: <a href="/product_details?id=@a.Product.Id">@a.Product.Name</a> - Ends: @a.EndDate. : @(((AD_PriceForWeight)a).Price) € For @(((AD_PriceForWeight)a).Weight)
            </li>
        }
    }
</ul>
<!--ToDo: implement list for advertisement of discounts-->

<h3>What are you waiting for? Start Shopping!</h3>
<h4>head over to <a asp-area="" asp-page="/products">Products page</a>!</h4>