﻿@page
@model WebApp.Pages.loginModel
@{
        ViewData["Title"] = "Login";
}

<div id="logform">
    <div id="login-form">
        <div class="title">Login <a href="/index">RobertHeijn</a></div>
        <div class="subtitle">Nice to see you again.</div>

        <form method="post">

            <div class="input-container ic1">
                <span asp-validation-for="Credentials.Username"></span>
                <input asp-for="Credentials.Username" placeholder="Email" id="email" class="input">
                <div class="cut cut-short"></div>
            </div>

            <div class="input-container ic2">
                <span asp-validation-for="Credentials.Password"></span>
                <input asp-for="Credentials.Password" id="password" class="input" placeholder="Password">
            </div>

            <div class="input-container" id="login-remember-me">
                <input asp-for="Credentials.RememberMe">
                <label asp-for="Credentials.RememberMe">Remember Me</label>
            </div>

            <button type="text" class="submit" id="login-form-submit">Login</button>

            <div class="subtitle2">Don't have an account? <a href="registration">Sign up!</a></div>

        </form>

    </div>
</div>
