﻿@page
@using DomainLayer;
@model WebApp.Pages.order_detailsModel
@{
}

<h3>Order Number: @Model.Order.Id</h3>

<div>Ordered: @Model.Order.OrderDate</div>
<div>Delivery Date: @Model.Order.DeliveryDate</div>
<div>Delivery Address: @Model.Customer.Address.ToString()</div>
<div>Status: @Model.Order.OrderStatus</div>
<div>Payed with: @Model.Order.PaymentMethod</div>

<div><b>Ordered Products</b></div>
<ul>
    @foreach(OrderItem o in Model.Order.OrderItems)
    {
        if (o.Discount != 0)
        {
            <li>
                @o.Quantity X @o.Product.Name: @o.GetTotal() € [Saved @o.Discount €]
            </li>
        }
        else 
        {
            <li>
                @o.Quantity X @o.Product.Name: @o.GetTotal() €
            </li>
        }
    }
</ul>

<div><b>Order Total: @Model.Order.GetTotal() €</b></div>


@if (Model.Error != "")
{
    <div class="error">Error: @Model.Error</div>
}
