﻿@page
@model WebApp.Pages.product_detailsModel
@{
    ViewData["Title"] = $"{Model.Product.Name}";
}

<h2>@Model.Product.Name</h2>

<div>Category: @Model.Product.Category</div>
<div>Sub-Category: @Model.Product.SubCategory</div>
@if (@Model.Product.Unit != DomainLayer.Enums.Unit.NO_UNIT)
{
    <div>Unit: @Model.Product.Unit</div>
}
<div>Price: @Model.Product.Price€</div>

<form method="post">
    <label asp-for="CartItem.Quantity">Select Amount</label>
    <input asp-for="CartItem.Quantity" type="number" value="1"></input>
    <br />
    <button type="submit" asp-route="@Model.Product.Id">Add to Cart</button>
</form>
