﻿@page
@model WebApp.Pages.productsModel
@{
    ViewData["Title"] = "Products Catalogue";
}

<ul>
    @foreach (DomainLayer.Product p in Model.Products)
    {
        <li>
            <a href="/product_details?id=@p.Id">@p.Name</a> - @p.Price €
        </li>
    }
</ul>
