﻿@page
@model WebApp.Pages.registrationModel
@{
    ViewData["Title"] = "Sign Up";
}

<section class="form">

    <form method="post">

        <div class="title" style="color:  rgb(18, 188, 132);">Sign Up</div>
        <h4>Your first step towards online shopping!</h4>

        <div class="input-container">
            <span asp-validation-for="Customer.Email" class="field-validation-error"></span>
            <input asp-for="Customer.Email" class="input" placeholder="Email" size="30" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.Password" class="field-validation-error"></span>
            <input asp-for="Customer.Password" class="input" size="30" type="password" placeholder="Password" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.Name" class="field-validation-error"></span>
            <input asp-for="Customer.Name" class="input" size="30" placeholder="Name" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.Surname" class="field-validation-error"></span>
            <input asp-for="Customer.Surname" class="input" size="30" placeholder="Surname" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.Birthdate" class="field-validation-error"></span>
            <input asp-for="Customer.Birthdate" class="input" size="30" type="date" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.Street" class="field-validation-error"></span>
            <input asp-for="Customer.Street" class="input" size="30" placeholder="Street" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.HouseNumber" class="field-validation-error"></span>
            <input asp-for="Customer.HouseNumber" class="input" size="30" placeholder="House Number" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.City" class="field-validation-error"></span>
            <input asp-for="Customer.City" class="input" size="30" placeholder="City" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.PostalCode" class="field-validation-error"></span>
            <input asp-for="Customer.PostalCode" class="input" size="30" placeholder="PostalCode" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.Country" class="field-validation-error"></span>
            <input asp-for="Customer.Country" class="input" size="30" placeholder="Country" required>
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Customer.Phone" class="field-validation-error"></span>
            <input asp-for="Customer.Phone" class="input" size="30" placeholder="Phone" required>
        </div>

        <br><br>

        <button type="submit" class="submit" id="form-submit">submit</button>

    </form>
</section>