﻿@page
@model WebApp.Pages.shopping_cartModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>

<form asp-page-handler="remove" method="post">
    <ul>
    @foreach (DomainLayer.CartItem c in Model.ShoppingCart.Products)
    {
        if (@c.GetDiscount() > 0)
        {
            <li>
                @c.Product.Name - Quantity: @c.Quantity - @c.GetTotal()€ (Saving @c.GetDiscount()€) [<button type="submit" name="id" value="@c.Id">Remove</button>]
            </li>
        }
        else
        {
            <li>
                    @c.Product.Name - Quantity: @c.Quantity - @c.GetTotal()€ [<button type="submit" name="id" value="@c.Id">Remove</button>]
            </li>
        }
        
    }
</ul>
</form>


<div><b>Cart Total: @Model.Total €</b></div>

<form method="post">
    <span asp-validation-for="Payment.Method"></span>
    <select asp-for="Payment.Method">
        <option value="CREDIT_CARD">Credit Card</option>
        <option value="DEBIT_CARD">Debit Card</option>
        <option value="PAYPAL">PayPal</option>
        <option value="GOOGLE_PAY">Google Pay</option>
        <option value="APPLE_PAY">Apple Pay</option>
    </select>
    <button type="submit">Confirm Order</button>
</form>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
