﻿@page
@model WebApp.Pages.view_ordersModel
@{
}

<h1>Your Orders:</h1>

<ul>
    @foreach (DomainLayer.Order o in Model.Orders)
    {
        <li>
            <a href="/order_details?id=@o.Id">Nr. @o.Id</a> - Ordered @o.OrderDate [@o.GetTotal() €] : @o.OrderStatus
        </li>
    }
</ul>