﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RobertHeijn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>

<body>

    <header>

        <nav id="nav-bar">
            <div><a asp-area="" asp-page="/index">Home</a></div>
            <div><a asp-area="" asp-page="/products">Products</a></div>
            <div><a asp-area="" asp-page="/shopping_cart">Shopping Cart</a></div>
            <div><a asp-area="" asp-page="/view_orders">Orders</a></div>
            <div><a asp-area="" asp-page="/profile">Profile</a></div>
            <div><a asp-area="" asp-page="/logout">Logout</a></div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footer">
        <div class="container" id="footer-text">
            &copy; 2022 - RobertHeijn Online Shopping - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>